# SMS-Spam Classifier

- This is a python application which will be designed with the help of Machine Learning Models and Classification Models with the help of which we will be able to predict the spam messages which are recieved on the phone.

## Importing Libraries

In [2]:
#The Normal Imports 
import numpy as np
import pandas as pd

#Import the stats library
from scipy import stats

#Matplotlib Library
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

#Command to make all the graphs appear on the iPython Notebook
%matplotlib inline

## Data Cleaning

- Importing the Dataset.

In [3]:
dataset=pd.read_csv('E:\\SEM VI\\Minor-II\\spam.csv',encoding='latin-1')

In [4]:
dataset

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
11126,ham,You are a great role model. You are giving so ...,NaN,NaN,NaN
11127,ham,"Awesome, I remember the last time we got someb...",NaN,NaN,NaN
11128,spam,"If you don't, your prize will go to another cu...",NaN,NaN,NaN
11129,spam,"SMS. ac JSco: Energy is high, but u may not kn...",NaN,NaN,NaN
11130,ham,Shall call now dear having food,NaN,NaN,NaN

- Remove unwanted columns which are not needed and renaming columns to make data more readable.
- First column is label and second column is text. First column contains which message is ham/spam.
- Second column contains the message

In [5]:
dataset=dataset.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"],axis=1)
dataset=dataset.rename(columns={"v1" : "label","v2" : "text"})

In [6]:
dataset

      label                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
11126   ham  You are a great role model. You are giving so ...
11127   ham  Awesome, I remember the last time we got someb...
11128  spam  If you don't, your prize will go to another cu...
11129  spam  SMS. ac JSco: Energy is high, but u may not kn...
11130   ham                    Shall call now dear having food

[11131 rows x 2 columns]

In [7]:
dataset.count()

label    11131
text     11131
dtype: int64

In [9]:
dataset['label'].value_counts()

ham     9637
spam    1494
Name: label, dtype: int64